@charset "utf-8";
/* CSS Document */
@font-face {
    /* font-properties */
    font-family: fzxyjt;
    src:url('方正细圆简体.woff'),  
	url('方正细圆简体.ttf'),
	url('方正细圆简体.eot'); /* IE9 */
}
*{border:0;margin:0;padding:0;}
body{font-family:'"fzxyjt","MyriadPro",Arial,"Microsoft YaHei","微软雅黑","宋体","黑体"'; margin:0 auto;min-width:1000px; max-width: 1920px;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none; color: #000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
h2{font-weight:normal;}

.center { margin-left: auto; margin-right: auto; width: 1000px;}
.mixwidth { min-width: 1000px;}
.maxwidth { max-width: 1920px;}
.fl { float: left; }
.rl { float: right;}
.clear { clear: both;}
.icon { background-image: url("/Public/Style/Home/images/icon.png"); }
/********头部样式********/
.header { height:30px; width: 100%; font-family: "fzxyjt"; background-color: #ed6d00; color: #ffffff; line-height: 30px; font-size: 14px; }
.header .phone { float: left;}
.header .phone em { background-position: -300px 0px; width: 10px; height: 11px; float: left; margin-top: 9px; margin-right: 10px; display: inline;}
.header .login { float: right; font-size: 12px;}
.header .login a { color: #fff; }

.menu { height:100px; line-height: 100px; }
.menu .logo { float: left; margin-top: 2px; width: 260px; height: 95px; background-image: url("../images/logo.png"); }
.menu .menus { float:  right; line-height: 99px; }
.menu .menus .childs { width: 100px; text-align: right; float: left; }
.menu .menus .childs a { font-size: 14px; color: #333; font-family: "fzxyjt";}
.menu .menus .childs a:hover { color: #ed6d00;  text-decoration-line: underline;   }


.banner {height:426px; width: 100%; margin: 0 auto; position: relative; }
.index_register{width:27%;height: 426px; background: url("/Public/Style/Home/images/icon.png") no-repeat scroll -1388px -36px;position: absolute; top:0px;right:0px;z-index:100}
.index_register .ire_text{width: 175px;height: 35px;font-size: 12px;color: #333333;padding-left: 16px;border-radius: 5px;margin-top: 8px;margin-left: 70px;}
.biaodan {width: 1000px; z-index: 202; margin: 0 auto; height: 100%;left:50%; margin-left: -500px; margin-top: -428px; position: absolute; }
.floatcode{width:144px;height: 388px; background: url("/Public/Style/Home/images/icon.png") no-repeat scroll -1160px 0px;position: fixed;top:0;right:13%;z-index: 101;}
.floatcode ul li a{font-size: 16px;color:#ffffff;}
.floatcode ul li{font-size: 16px;color:#ffffff;margin-left: 38px;line-height: 40px;}
.ir_button{height: 45px;width: 192px;font-size: 16px;color: #ffffff;background: url("/Public/Style/Home/images/icon.png") no-repeat scroll 0px 0px;margin-top: 8px;margin-left: 70px;}

.youshi { width: 100%; height: 714px; background: url("/Public/Style/Home/images/youshibj.jpg") no-repeat 50% 0px; font-family: "fzxyjt"; }
.floortitle { font-size: 30px; color: #ed6d00; margin: 0 auto; width: 100%; text-align: center; padding-top: 60px;}
.titleen { width: 490px; height:25px; line-height: 25px;  }
.titleen .xian { width: 150px; height: 1px; background-color: #d3d4d5; margin-top: 11px;}
.titleen .texten { width: 190px; text-align: center; height: 25px; line-height: 25px; font-size: 16px; color: #b4b3b3; }

.imgs { height: 452px; margin-top: 10px;}
.imgs .img {  float: left; margin-top: 30px; border-radius: 5px; -moz-box-shadow: inset 0 0 5px #dbdbdd;-webkit-box-shadow: inset 0 0 5px #dbdbdd;box-shadow: inset 0 0 5px #dbdbdd; }
.imgs .img img { border-radius: 5px;}
.youshi .imgs .img {width: 309px; height: 208px; position: relative; cursor: pointer; }
.youshi .imgs .img .tit { position: absolute; bottom: 15px; z-index: 99; left: 15px; font-size: 16px; color: #666666;  }
.youshi .imgs .img .bjfont {position: absolute; display: none; top: 60px; line-height: 25px; z-index: 100; left: 15px; font-size: 14px; color: #fff;  }
.youshi .imgs .img .tit:hover { color: #ed6d00;} 
.imgs .juzhong { margin-left: 35px; margin-right: 35px; display: inline;}
.imgs .juzhong1 { margin-left: 16px;  display: inline;}

.jianzheng { height: 428px; background-color: #f7fbfc;font-family: "fzxyjt";  }
.jianzheng .imgs { height: 250px;}
.jianzheng .imgs .img { -moz-box-shadow: inset 0 0 0px #dbdbdd;-webkit-box-shadow: inset 0 0 0px #dbdbdd;box-shadow: inset 0 0 0px #dbdbdd; position: relative; }

.banner2 { width: 100%; background: url("/Public/Style/Home/images/banner2.jpg") no-repeat 50% 0px; height: 386px;}

.koubei { width: 100%; background-color: #f7fbfc; height: 710px; font-family: "fzxyjt";}
.koubei .titleen { width: 620px;}
.koubei .texten { width: 320px;}

.koubei .jiazhang { width:235px; height:440px;  background-color: #fff; border-radius: 7px;color: #4e4e4e;  margin-top: 30px; float: left;  }
.koubei .jiazhang img { text-align: center; margin: 0 auto; width: 164px; margin-left: 35px; margin-top: 20px; display:inline;}
.koubei .jiazhang .koubeititle { padding-left: 15px; color: #333333; text-align: left; margin-top: 20px; font-size: 18px; }
.koubei .jiazhang .koubeimiaoshu { padding-left: 15px; color: #999999; width: 205px; text-align: left; margin-top: 10px; font-size: 12px; line-height: 20px;  }

.jishuzhuanjia { width: 100%; height: 675px; background-color: #f3f5f7;font-family: "fzxyjt";}
.jishuzhuanjia .zhuanjia {width: 495px; height: 505px;  }
.jishuzhuanjia .zhuanjia .floortitle { text-align: left;}
.jishuzhuanjia .zhuanjia .floortitledesc { text-align: left; font-size: 16px; color: #b4b3b3; font-family: "fzxyjt"; line-height: 25px;}
.jishuzhuanjia .zhuanjia .jieshao { width: 493px; height: 173px; background-color: #feffff; margin-top: 25px; padding-top: 21px; border-radius: 5px;}
.jishuzhuanjia .zhuanjia .jieshao .face { margin-left: 17px; display: inline; width: 210px; height: 145px; float:  left;}
.jishuzhuanjia .zhuanjia .jieshao .miaoshu { width: 205px; height: auto; margin-right:40px; display: inline; }
.jishuzhuanjia .zhuanjia .jieshao .miaoshu .name { font-size: 18px; color: #333333; height: 40px; line-height: 20px; }
.jishuzhuanjia .zhuanjia .jieshao .miaoshu .jianjie{ font-size: 14px; color: #333333; height: 40px; line-height: 30px;}
.jishuzhuanjia .zhuanjia .jieshao .miaoshu .con{ font-size: 12px; color: #999999; margin-top: 20px;  line-height: 20px;}
.jishuzhuanjia .zhuanjia .fl2 { margin-top: 16px;}
.hezuo .floortitle { text-align: left;}
.hezuo .floortitledesc { text-align: left; line-height: 25px; font-size: 16px; color: #b4b3b3;}
.hezuo .xiangqing { width: 470px; cursor: pointer; height: 385px; border-radius: 5px; margin-top: 25px;background-color: #feffff; padding-left: 20px; padding-top: 20px;}
.hezuo .xiangqing .anniu { margin-left: 125px; margin-top: 15px; width: 193px; height: 45px; background-position: 0px 0px; text-align: center; line-height: 43px; color: #fff; font-size: 16px;}

.footer { background-color: #dddedf; height: 295px; width: 100%; font-family: "fzxyjt";}
.footer .footermenu { text-align: center; line-height: 160px; height: 140px;  width: 100%; }
.footer .footermenu a { color: #585859; margin: 0 26px; display: inline; font-size: 16px;}
.footer .footermenu a:hover { text-decoration: underline; }
.footer .call { text-align: center; width: 100%; }
.footer .call img { margin: 0 10px;}





.checklevel { width: 100%; background-color: #ebf3f5; height: 900px; padding-top: 100px; font-family: "fzxyjt"; }

.checklevel .top { background-color: #60e1f4; height: 550px; margin-top: 5px; border: 1px #a5aaab solid;}
.checklevel .title { text-align: center;  height:55px; font-size: 53px; color: #000; line-height: 55px; font-family: "fzxyjt";  }
.checklevel .smalltitle { text-align: center;  height:25px; font-size: 24px; color: #000; line-height: 25px; font-family: "fzxyjt";  }
.checklevel .shuoming { text-align: left; font-size: 12px; color: #222;}
.checklevel .top .num { color: #fff; font-size: 80px; height: 100px; line-height: 120px; font-weight: 900;}

.checklevel .top .testname { font-size: 16px; color: #fff; height: 25px; line-height: 20px; margin-bottom: 20px;}
.checklevel .top .children { width: 145px; height:160px; background-position: 0 -200px;  margin-left: auto; margin-right: auto; padding-top:20px;  }
.checklevel .top .children .bofang { width: 25px; height: 30px; background-position: -320px 0px; margin-left:60px; margin-top: 75px; cursor: pointer;  }
.checklevel .top .children .stop { width: 19px; height: 30px; background-position: -353px 0px; margin-left:60px; margin-top: 75px; cursor: pointer;  }

.checklevel .top .daan { height:140px; margin-top: 40px; text-align: center; width: 600px; }
.checklevel .top .daan .picslist { float:  left; width:140px; height: 140px; cursor: pointer; }
.checklevel .top .daan .testpics { background-image: url("/Public/Style/Home/images/testpics.png");}
.checklevel .top .daan .testpics2 { background-image: url("/Public/Style/Home/images/testpics2.png");}
.checklevel .top .daan .zj { margin-left: 90px; margin-right: 90px;}

.checklevel .bottom { background-color: #fccf45; height: 130px; padding-top: 10px;  border: 1px #a5aaab solid; border-top:none;}
.checklevel .bottom .prenext { margin-top: 35px; margin-left:200px; }

.checklevel .bottom .prenext .next:hover { background-position: -893px 0px; width: 267px; height: 53px; text-align: center; line-height: 53px; color: #fff; font-size: 24px; cursor: pointer; float: left;}
.checklevel .bottom .prenext .pre:hover { background-position: -893px 0px; width: 267px; height: 53px; text-align: center; line-height: 53px; color: #fff; font-size: 24px; cursor: pointer; float: left;}
.checklevel .bottom .prenext .pre {background-position: -893px -60px; color: #e96d1f;  width: 267px; height: 53px; text-align: center; line-height: 55px;  font-size: 24px; cursor: pointer; float: left;}
.checklevel .bottom .prenext .next { background-position: -893px -60px; color: #e96d1f; margin-left: 60px; width: 267px; height: 53px; text-align: center; line-height: 55px;  font-size: 24px; cursor: pointer; float: left;}


.checklevel .testlogin { background-image:url("../images/pclogin.jpg"); height: 610px; position: relative;  }
.checklevel .testbot { height: 80px;} 
.checklevel .testlogin .loginshuoming { position: absolute; font-family: "fzxyjt"; font-size: 18px; color: #666; left: 180px; top: 160px; letter-spacing: 2px;  }
.checklevel .testlogin .loginform { font-family: "fzxyjt"; position: absolute; left: 197px; top: 310px; width: 320px; height: 200px; }
.checklevel .testlogin .loginform input { float: left; text-align: center; width:315px; height:40px; background-color: #d3d3d3; border-radius: 5px; font-size: 16px; line-height: 40px; color: #333;  }

.checklevel .testlogin .loginform .mobile { margin-top: 15px;}
.checklevel .testlogin .loginform .button { width: 320px; margin-top: 20px; height: 49px; background-position: -840px -130px; text-align: center; line-height: 49px; color: #fff; font-size: 20px; cursor: pointer;  }



.checklevel .testresult { background-image:url("../images/pcjg.jpg"); height: 610px; position: relative;  }
.checklevel .testbot { height: 80px;} 
.checklevel .testresult .resultshuoming { position: absolute; font-family: "黑体"; font-weight: bolder;  font-size: 34px; color: #fff; left: 85px; top: 85px; letter-spacing: 2px;  }
.checklevel .testresult .resultshuoming font { color: #e96d1c}

.checklevel .testresult .defen { position: absolute;font-family: "黑体"; top: 205px; letter-spacing: 1.5px; color: #333; left: 240px; width: 400px; height: 30px; font-size: 24px; }
.checklevel .testresult .defen .fenshu { color: #e96d1c;  font-size: 34px ; letter-spacing: 1.5px;}
.checklevel .testresult .defen .js { color: #999; font-family: "微软雅黑"; }

.checklevel .testresult .dengji { top: 255px;}


.checklevel .testresult .zongjie { position: absolute; top:345px; left: 120px; width: 560px; height: 50px; font-family: "fzxyjt"; color: #333; font-size: 14px; line-height: 20px; letter-spacing: 1.5px; }

.checklevel .testresult .jianyi { position: absolute; top:400px; left: 120px; width: 560px; height: 50px; font-family: "fzxyjt"; color: #333; font-size: 14px; line-height: 20px;letter-spacing: 1.5px; }

.checklevel .testresult  .button { position: absolute;  width: 206px;top:465px; left: 423px; height: 49px; background-position: 0px -588px; text-align: center; line-height: 49px; color: #fff; font-size: 20px; cursor: pointer;  }
.checklevel .testresult  .againbutton { position: absolute;  width: 206px;top:465px; left: 183px; height: 49px; background-position: 0px -588px; text-align: center; line-height: 49px; color: #fff; font-size: 20px; cursor: pointer;  }


/*课程体系start*/
.co_course { width: 100%; height: 673px; font-family: "fzxyjt"; }
.co_title{font-size: 26px; color: #333333; margin: 0 auto; width: 100%; text-align: center; padding-top: 60px;}
.co_title2{display: inline;color:#f36b00}
.co_titleen { width: 625px; height:25px; line-height: 25px;  }
.co_titleen .co_xian { width: 150px; height: 1px; background-color: #d3d4d5; margin-top: 11px;}
.co_titleen .co_texten { width: 325px; text-align: center; height: 25px; line-height: 25px; font-size: 16px; color: #b4b3b3; }
.co_imgs { height: 452px; margin-top: 10px;}
.co_imgs .co_img {  float: left; margin-top: 30px; }

.co_teach_way { width: 100%; height: 684px; background: url("/Public/Style/Home/images/course_16.jpg") no-repeat 50% 0px; font-family: "fzxyjt"; }
.tw_title{font-size: 26px; color: #333333; margin: 0 auto; width: 100%; text-align: center; padding-top: 60px;}
.tw_title2{display: inline;color:#f36b00}
.tw_titleen { width: 795px; height:25px; line-height: 25px;  }
.tw_titleen .tw_xian { width: 150px; height: 1px; background-color: #d3d4d5; margin-top: 11px;}
.tw_titleen .tw_texten { width: 495px; text-align: center; height: 25px; line-height: 25px; font-size: 16px; color: #b4b3b3; }
.tw_imgs { height: 452px; margin-top: 10px;}
.tw_imgs .tw_img {  float: left; margin-top: 30px; }

.co_teach_content { width: 100%; height: 843px; font-family: "fzxyjt"; }
.tc_title{font-size: 26px; color: #333333; margin: 0 auto; width: 100%; text-align: center; padding-top: 54px;}
.tc_title2{display: inline;color:#f36b00}
.tc_titleen { width: 815px; height:25px; line-height: 25px;  }
.tc_titleen .tc_xian { width: 150px; height: 1px; background-color: #d3d4d5; margin-top: 11px;}
.tc_titleen .tc_texten { width: 515px; text-align: center; height: 25px; line-height: 25px; font-size: 16px; color: #b4b3b3; }
.tc_imgs { height: 452px; margin-top: 45px;}
.tc_imgs .tc_li { float: left;height: 85px;width: 282px; border: 1px solid #d7d6d6;border-radius: 8px;line-height: 85px;font-size: 20px;color: #666666;text-align: center}
.tc_imgs .tc_sel{height: 128px;width: 282px; background: url("/Public/Style/Home/images/icon.png") no-repeat scroll 0px -460px;float: left;line-height: 85px;font-size: 20px;color: #666666;text-align: center}
.tc_imgs .tc_img {  float: left;}

.co_courseware { width: 100%; height: 501px; background-color: #f5f4f4; font-family: "fzxyjt"; }
.cw_title{font-size: 26px; color: #333333; margin: 0 auto; width: 100%; text-align: center; padding-top: 60px;}
.cw_title2{display: inline;color:#f36b00}
.cw_titleen { width: 665px; height:25px; line-height: 25px;  }
.cw_titleen .cw_xian { width: 150px; height: 1px; background-color: #d3d4d5; margin-top: 11px;}
.cw_titleen .cw_texten { width: 365px; text-align: center; height: 25px; line-height: 25px; font-size: 16px; color: #b4b3b3; }
.cw_imgs { height: 452px; margin-top: 40px;}
.cw_imgs .cw_li { float: left;height: 219px;width: 175px;}
.cw_li_img {  float: left;width: 175px;padding-left: 25px;}
.cw_li_img1 { width: 122px; height: 122px; background: url("/Public/Style/Home/images/course_4.png") no-repeat scroll 0px 0px; }
.cw_li_img2 { width: 122px; height: 122px; background: url("/Public/Style/Home/images/course_4.png") no-repeat scroll -122px 0px; }
.cw_li_img3 { width: 122px; height: 122px; background: url("/Public/Style/Home/images/course_4.png") no-repeat scroll -244px 0px; }
.cw_li_img4 { width: 122px; height: 122px; background: url("/Public/Style/Home/images/course_4.png") no-repeat scroll -366px 0px; }
.cw_li_title {  float: left;width: 175px;color: #333333;font-size: 18px;text-align: center;margin-top: 34px;}
.cw_li_con {  float: left; width: 175px;color:#999999;font-size: 12px;text-align: center;margin-top: 14px;line-height: 20px;}


.co_teacher { width: 100%; height: 899px; background: url("/Public/Style/Home/images/course_15.jpg") no-repeat 50% 0px; font-family: "fzxyjt"; }
.tr_title{font-size: 26px; color: #ffffff; margin: 0 auto; width: 100%; text-align: center; padding-top: 60px;}
.tr_titleen { width: 478px; height:25px; line-height: 25px;  }
.tr_titleen .tr_xian { width: 150px; height: 1px; background-color: #ffffff; margin-top: 11px;}
.tr_titleen .tr_texten { width: 178px; text-align: center; height: 25px; line-height: 25px; font-size: 16px; color: #ffffff; }
.tr_imgs { height: 452px; margin-top: 40px;}
.tr_imgs .tr_li { float: left;height: 131px;width: 431px;padding-left: 30px;padding-right: 30px;padding-top: 26px;padding-bottom: 26px;background-color: #feffff;border-radius: 5px;}
.tr_li_img {  float: left;margin-right: 23px;}
.tr_name { font-size: 20px;color: #636363;margin-bottom: 5px;}
.tr_des { font-size: 12px;color: #999999;line-height: 21px; }

.co_order { width: 100%; height: 158px; background-color: #ed6d00; font-family: "fzxyjt";position:fixed;right:0px;bottom:0px;}
.co_order .or_brg {  height: 158px; background-color: #ed6d00; position: relative; }
.co_order .or_brg .or_img{width: 982px;height: 206px; background: url("/Public/Style/Home/images/course_14.png") no-repeat 50% 0px;position: absolute;top:-47px;left:36px}
.or_img ul{padding-top: 137px;}
.or_img li{float: left;margin-right: 10px;}
.or_text{width: 165px;height: 34px;font-size: 12px;color: #333333;padding-left: 16px;}
.or_button{width: 164px;height: 38px;color: #333333;font-size: 16px;background-color: #fff000;border-radius: 5px;}

.co_blank { width: 100%; height: 159px;}
.co_order .or_brg .or_close{width: 33px;height: 33px; background: url("/Public/Style/Home/images/icon.png") no-repeat scroll 0px -639px;position: absolute;top:10px;right:0px}
/*课程体系end*/


/*关于我们start*/
.aboutus{margin-top: 53px;margin-bottom: 53px;}
.aboutus .ab_con{padding: 65px;border: 1px solid #eaecee;color:#333333}
.aboutus .ab_con .ab_con_title{font-size: 30px;line-height: 40px;text-align: center;margin-bottom: 20px;}
/*关于我们end*/

/*article start*/
.article{margin-top: 53px;margin-bottom: 53px;}
.article .ar_main{background-color: #e3e1e1;}
.article .ar_main .ar_main2{background-color: #f8f9fa;margin-left: 240px;border: 1px solid #eaecee;color:red}
.article .ar_menu{float: left;font-family: "fzxyjt";padding-top: 55px;padding-bottom: 55px;width: 240px;margin-left: -240px;}
.article .ar_menu li{line-height: 54px;color:#333333;font-size: 16px;padding-left: 45px;cursor: pointer;}
.article .ar_menu .ar_sel{color:#ffffff;width: 252px;background: url("/Public/Style/Home/images/aboutus_1.png") no-repeat;}
.article .ar_content{width: 86%;float: left; font-family: "fzxyjt";border-left: none;color:#333333;height: auto;padding: 28px 53px 45px 53px;font-size: 12px;line-height: 20px}
.article .ac_title{font-size: 37px;color:#ed6d00;line-height: 80px;border-bottom: 1px dashed #969697}
.article .ac_content{margin-top: 50px;}
/*article end*/

/*page start*/
.ar_page2{margin-top: 53px;margin-bottom: 53px;padding-top: 28px; border-top: 1px solid #e1e2e2;text-align: center}
.page{color:#333333;font-size: 12px;margin-left: 27%;}
.page a{cursor: pointer}
.page .page_frist{ margin-right: 24px;float: left;}
.page .page_con{ margin-right: 24px;float: left;display:block;width: 17px;height: 17px;line-height: 17px;text-align: center;}
.page .page_sel{ border: 1px solid #eaecee;background-color: #ffffff;}
.page .page_next{float: left;color: #ef8f56}
/*page end*/



/*师资力量 start*/
.teacher_banner{height:437px; width: 100%; margin: 0 auto;}

.teacher_intro{height: 629px;color: #999999;}
.ti_top{height: 140px;border-bottom:  1px #dedede solid}
.tit_left{float: left;margin-top: 60px;margin-left: 260px;cursor: pointer;}
.titl_p1{font-size: 26px;line-height: 45px;}
.titl_p2{font-size: 15px;padding-bottom: 15px;}
.titl_se{color: #333333;}
.titl_sep{border-bottom:  3px #333333 solid}
.tit_center{float:left;margin-top: 70px;margin-left: 73px;width: 1px;height: 25px;border-left: 1px #dedede solid}
.tit_right{float:left;margin-top: 60px;margin-left: 73px;cursor: pointer;}
.ti_bottom{margin-top: 100px;height: 389px;background-color: #f6f5f5;color: #666666;font-size: 18px;}
.tib_left{float: left;}
.tib_right{float: left;margin-top: 85px;margin-left: 62px;}
.tib_right p{line-height: 42px;}

.teacher_lists{height: 664px;}
.tl_title{font-size: 26px; color: #333333; margin: 0 auto; width: 100%; text-align: center; padding-top: 60px;}
.tl_title2{display: inline;color:#f36b00}
.tl_titleen { width: 490px; height:25px; line-height: 25px;  }
.tl_titleen .tl_xian { width: 150px; height: 1px; background-color: #d3d4d5; margin-top: 11px;}
.tl_titleen .tl_texten { width: 190px; text-align: center; height: 25px; line-height: 25px; font-size: 16px; color: #b4b3b3; }
.teacher_lists ul{margin-top: 25px;color: #999999;font-size: 12px;}
.teacher_lists ul li{float: left;width: 205px;height: 441px;border: 1px #dedede solid;border-radius: 5px;margin-right:17px;padding-left: 15px;padding-right: 15px;}
.teacher_lists ul li img{margin-left: 21px;margin-top: 23px;margin-bottom: 29px;}
.teacher_lists ul li p{line-height:22px;}
.teacher_lists .tl_p1{color: #333333;font-size: 26px;}
.teacher_lists .tl_p2{margin-bottom: 10px;}
/*师资力量 end*/